<body>

    <div class="container">
        <div *ngIf="loaderService.isLoading | async; else contentReady">
          <mat-spinner></mat-spinner>
        </div>
      <ng-template #contentReady>

          <h1>Agregar Materia</h1>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Sigla o Asignatura</mat-label>
            <input required [matAutocomplete]="auto" matInput [formControl]="objectControl" [(ngModel)]="materia">
            <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn.bind(this)"> <!--[displayWith]="displayFn.bind(this)"-->
              <mat-option *ngFor="let mat of materiasFiltro | async" [value]="mat">
                <span>{{mat.asignatura}}</span> |
                <small>SIGLA: {{mat.sigla}}</small>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
            <button [disabled]="!materia" mat-raised-button color="primary" (click)="addMateria()" class="margin">Guardar</button>
          <button mat-raised-button color="warn" [mat-dialog-close]>Cancelar</button>
      </ng-template>
      </div>
</body>
