.mat-column-carrera {
  width: 15%;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}
.red-background {
  background-color: pink;
}
:hover .red-background{
  background-color: pink;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.opcion-button{
  width: 100%;
}
.filtros-container{
  width: 95%;
  background-color: white;
  margin: 15px 5px;
  border-radius: 15px;

}
.container-grande-filtros{
  background-color:  #f7f7f7;
  display: flex;
  justify-content: center;
}
.inside-filter-container{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.filter{
  width: 40%
}

