<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <h2>Log In</h2>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" name="username" required>
        <mat-error>
          Debe llenar el email para poder ingresar
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="passwordType" [(ngModel)]="password" name="password" (keydown.enter)="$event.preventDefault()" required>
        <button *ngIf="passwordType === 'password'" matSuffix mat-icon-button aria-label="Clear" (click)="passwordType='text'">
          <mat-icon>visibility</mat-icon>
        </button>
        <button *ngIf="passwordType === 'text'" matSuffix mat-icon-button aria-label="Clear" (click)="passwordType='password'">
          <mat-icon>visibility_off</mat-icon>
        </button>
        <mat-error>
          Debe llenar la contraseña para poder ingresar
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="!loginValid">
        Email o Contraseña Incorrectos
      </mat-error>
      <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Ingresar</button>
      <div class="google-container">
        <div id="g_id_onload"
             data-client_id="446198282484-g6j1vv5qeoets2jujdccfjt30h3q9v1b.apps.googleusercontent.com"
             data-context="use"
             data-ux_mode="popup"
             data-auto_select="true"
             data-itp_support="true"
             data-login_uri="http://localhost:3000/horariosbackend/loginGoogle">
        </div>

        <div class="g_id_signin google-button"
             data-type="standard"
             data-shape="rectangular"
             data-theme="outline"
             data-text="signin_with"
             data-size="large"
             data-logo_alignment="left">
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

