mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.google-button{
  width: 50%;
  margin-top: 10px;
}
.google-container{
  display: flex;
  justify-content: center;
}
