<table>
  <thead>
  <tr>
    <th class="primera-columna">{{titulo}}</th>
    <th class="segunda-columna centro">INVERSIÓN</th>
    <th class="tercera-columna centro" *ngIf="descuentoPagoInicial">INVERSIÓN <br> CON DESCUENTO</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Pago inicial</td>
    <td class="centro">{{pagoInicial | numberFormat}} Bs</td>
    <td *ngIf="descuentoPagoInicial" class="centro">{{Math.ceil(pagoInicial * (1-descuentoPagoInicial))  | numberFormat}} Bs</td>
  </tr>
  <tr>
    <td>Crédito tecnológico</td>
    <td class="centro">{{valorCredito | numberFormat}} Bs</td>
    <td *ngIf="descuentoPagoInicial" class="centro">{{valorCredito | numberFormat}} Bs</td>
  </tr>
  <tr *ngIf="!esDescuentoProntoPago">
    <td>Cuatro pagos mensuales de {{pagoMensual | numberFormat}} Bs</td>
    <td class="centro">{{saldoSemestre | numberFormat}} Bs</td>
    <td *ngIf="descuentoPagoInicial" class="centro">{{saldoSemestre | numberFormat}} Bs</td>
  </tr>
  <tr *ngIf="esDescuentoProntoPago">
    <td>Pronto Pago (Descuento de 6%). Pago único de: </td>
    <td class="centro">{{saldoSemestre | numberFormat}} Bs</td>
    <td *ngIf="descuentoPagoInicial" class="centro">{{saldoSemestre | numberFormat}} Bs</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td>Total Semestre</td>
    <td class="centro">{{montoTotalSemestre | numberFormat}} Bs</td>
    <td *ngIf="descuentoPagoInicial" class="centro">{{montoTotalSemestre - Math.floor((pagoInicial * descuentoPagoInicial)) | numberFormat}} Bs</td>
  </tr>
  </tfoot>
</table>
