.buttons-container, .form-container{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.external-container{
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons-container button{
  width: 500px;
  margin-bottom: 5px;
}

mat-form-field{
  width: 500px;
}

.titulo-documentos{
  font-size: 23px;
  font-weight: bold;
}

.checkbox-documento{
  align-self: flex-start;
}
