<div>
  <table mat-table [dataSource]="paralelos" class="mat-elevation-z8"
         matSort matSortActive="cupos" matSortDisableClear matSortDirection="desc">
    <ng-container  matColumnDef="sigla">
      <th mat-header-cell *matHeaderCellDef>Sigla</th>
      <td mat-cell *matCellDef="let paralelo" >{{paralelo.sigla}}</td>
    </ng-container>
    <ng-container  matColumnDef="materia">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let paralelo" >{{paralelo.materia}}</td>
    </ng-container>
    <ng-container  matColumnDef="paralelo">
      <th mat-header-cell *matHeaderCellDef>Paralelo</th>
      <td mat-cell *matCellDef="let paralelo">{{paralelo.paralelo}}</td>
    </ng-container>
    <ng-container matColumnDef="docente">
      <th mat-header-cell *matHeaderCellDef>Docente</th>
      <td mat-cell  *matCellDef="let paralelo">
        <!-- Conditionally render content based on the showColumn variable -->
        {{paralelo.docente}}
      </td>
    </ng-container>

    <ng-container matColumnDef="horarios">
      <th mat-header-cell *matHeaderCellDef>Horario</th>
      <td mat-cell  *matCellDef="let paralelo">{{paralelo.horario}}</td>
    </ng-container>

    <ng-container matColumnDef="cupos">
      <th mat-header-cell *matHeaderCellDef>Cupos</th>
      <td mat-cell  *matCellDef="let paralelo">{{paralelo.disponibles}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="clickedRows.add(row)"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
