<body>
  <div *ngIf="loaderService.isLoading | async; else contentReady">
    <mat-spinner></mat-spinner>
  </div>


  <ng-template #contentReady>
    <div class="buttons-container">
      <mat-slide-toggle [checked]="soloConCupoHabilitado">Mostrar solo CON cupo</mat-slide-toggle>
      <button mat-raised-button color="primary" *ngIf="carrera && opciones.length !==0" (click)="generatePDF()">Imprimir</button>
      <!--<button (click)="generatePDF()">Imprimir</button>-->
      <mat-slide-toggle [checked]="mostrarAulasHabilitado" (toggleChange)="OcultaroMostrarAulas()">Mostrar Aulas</mat-slide-toggle>
    </div>

    <div id="horarioContent" #horarioContent>
      <h1>Opciones de Horario para {{carrera}}</h1>
      <div *ngFor="let opcion of opciones; let i = index"  class="opcion">
        <p class="opcion-title">Opcion {{opcion.opcion}}</p>
        <div class="materias-container">
          <table [attr.id]="'table-' + i" mat-table [dataSource]="opcion.horario" class="mat-elevation-z8 materias-table">
            <!-- Position Column -->
            <ng-container matColumnDef="sigla">
              <th mat-header-cell *matHeaderCellDef>Sigla</th>
              <td mat-cell *matCellDef="let paralelo">{{paralelo.sigla}}</td>
            </ng-container>

            <ng-container  matColumnDef="materia">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let paralelo">{{paralelo.materia}}</td>
            </ng-container>
            <ng-container  matColumnDef="paralelo">
              <th mat-header-cell *matHeaderCellDef>Paralelo</th>
              <td mat-cell *matCellDef="let paralelo">{{paralelo.paralelo}}</td>
            </ng-container>
            <ng-container matColumnDef="cupos">
              <th mat-header-cell *matHeaderCellDef>Cupos</th>
              <td mat-cell *matCellDef="let paralelo">
                <div *ngIf="paralelo.disponibles">
                  <ng-container *ngIf="paralelo.disponibles">
                    <div [ngStyle]="{'backgroundColor': paralelo.disponibles > 0 ? 'white' : 'pink'}">
                      {{ paralelo.disponibles }}
                    </div>
                  </ng-container>
                </div>
                <div *ngIf="!paralelo.disponibles">
                  <ng-container *ngIf="getCupos(paralelo) as cupos; else noCupos">
                    <div [ngStyle]="{'backgroundColor': cupos > 0 ? 'white' : 'pink'}">
                      {{ cupos }}
                    </div>
                  </ng-container>
                  <ng-template #noCupos>
                    <div [ngStyle]="{'backgroundColor': 'pink'}">
                      0
                    </div>
                  </ng-template>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="docente">
              <th mat-header-cell *matHeaderCellDef>Docente</th>
              <td mat-cell *matCellDef="let paralelo">
                <ng-container *ngIf="paralelo.docente">
                  <div>
                    {{ paralelo.docente }}
                  </div>
                </ng-container>
                <ng-container *ngIf="!paralelo.docente && getDocente(paralelo) as docente">
                    {{ docente }}
                </ng-container>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns;"
            ></tr>
          </table>
        </div>
        <div class="inside-flex">
          <table [attr.id]="'opcion-' + i" class="horario-table">
            <thead>
            <tr>
              <th></th>
              <th *ngFor="let day of days">{{ day }}</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let timeSlot of timeSlots; let timeSlotIndex = index">
              <tr>
                <!-- ; let aula of aulas[i].schedule[timeSlotIndex] ...  - {{aula}}-->
                <td>{{ timeSlot }}</td>
                <td *ngFor="let data of userScheduleData[i].schedule[timeSlotIndex]; let dayIndex = index">
                  {{data}}
                  <div class="aula" *ngIf="mostrarAulasHabilitado">
                    <br>
                    <div *ngIf="getAula(i,timeSlotIndex,dayIndex) as aula">
                      Aula: {{aula}}
                    </div>

                  </div>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-template>
</body>
