<mat-toolbar class="tool-options">
  <mat-form-field *ngIf="reportes.length > 0" appearance="outline" class="opcion">
    <mat-label>Seleccione un Reporte</mat-label>
    <mat-select [(ngModel)]="reporteSeleccionado" (ngModelChange)="mostrarReporte()"> <!--[formControl]="carrera"-->
      <mat-option *ngFor="let reporte of reportes" [value]="reporte">
        {{reporte.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>

<div *ngIf="reporteSeleccionado" class="frame-container">
  <iframe [src]="sanitizedUrl"  width="600" height="373.5" frameborder="0" allowFullScreen="true"></iframe>
</div>
<!--<iframe *ngIf="reporteSeleccionado" title="Cato Day 2023" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiZmZmMDk4OWMtMjg0YS00MDVmLWJmYjItNWIyOTUxNTg0YWMwIiwidCI6ImNjMjg2MzNmLTEyYjgtNDZjYi1iYzE1LTk1MWRhZTIzOWI0ZCIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>-->
