<mat-toolbar class="tool-options">
  <mat-form-field appearance="outline" class="carrera">
    <mat-label>Carrera</mat-label>
    <mat-select [(ngModel)]="carrera"> <!--[formControl]="carrera"-->
      <!--<mat-option>-- None --</mat-option>-->
      <mat-optgroup *ngFor="let group of carrerasPorDepartamento" [label]="group.departamento">
        <mat-option *ngFor="let carrera of group.carreras" [value]="carrera">
          {{carrera.nombre}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  
</mat-toolbar>
<div class="container">
  <div class="inside-flex">
    <div class="materias-container">
      <mat-accordion *ngFor="let mat of materias">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{mat.sigla}}
            </mat-panel-title>
            <mat-panel-description>
              {{mat.asignatura}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </mat-accordion>
      <button (click)="openDialog()" class="new-materia" mat-fab extended color="primary">
        <mat-icon>add </mat-icon>
        Agregar Materia
      </button>
    </div>
  </div>
  <div class="inside-flex">
    <table>
        <thead>
          <tr>
            <th></th>
            <th *ngFor="let day of days">{{ day }}</th>
          </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let timeSlot of timeSlots; let timeSlotIndex = index">
                <tr>
                  <td>{{ timeSlot }}</td>
                  <td *ngFor="let data of userScheduleData[timeSlotIndex]; let dayIndex = index"></td>
                </tr>
              </ng-container>
        </tbody>
      </table>
    </div>
</div>