<mat-toolbar class="tool-options">
  <app-selector-carrera name="carrera" [(ngModel)]="carrera" (ngModelChange)="cambiarHorarioCarrera($event)"></app-selector-carrera>
  <mat-slide-toggle [checked]="segundoAnioChecked" (toggleChange)="changeToSecondYear()" style="margin-left: 5px" *ngIf="isMedicina()">¿Segundo año?</mat-slide-toggle>

  <button (click)="guardarHorario()" [disabled]="horarioSeleccionado.length === 0" class="update hvr-float" mat-fab extended color="primary">
    <mat-icon>update </mat-icon>
    Guardar Horario
  </button>


  <button class="print" mat-mini-fab color="primary" *ngIf="horarioSeleccionado.length >0" (click)="openDialogPrint()"><mat-icon>print</mat-icon></button>
</mat-toolbar>

<div class="container-paralelos">
  <div class="inside-flex">
    <div class="materias-container">
      <mat-accordion *ngFor="let mat of materias">
        <mat-expansion-panel class="paraleloContainer" hideToggle>
          <mat-expansion-panel-header [ngStyle]="{'backgroundColor' : materiaExisteEnHorario(mat.sigla) ? '#93ef8d' : 'white'}">
            <mat-panel-title>
              {{mat.sigla}}
            </mat-panel-title>
            <mat-panel-description>
              {{mat.asignatura}}
              <button mat-icon-button (click)="eliminarMateria(mat)">
                <mat-icon>delete</mat-icon>
                <span>Eliminar</span>
              </button>
              <!--<button mat-icon-button [appRightClickToDelete]="eliminarMateria" [item]="mat" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>-->
               <!--<mat-menu #menu="matMenu" yPosition="above">
                <button (click)="eliminarMateria(mat)" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span>Eliminar</span>
                </button>
              </mat-menu>-->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngIf="mat.paralelos">

            <table mat-table [dataSource]="mat.paralelos" class="mat-elevation-z8">
              <ng-container  matColumnDef="sigla">
                <th mat-header-cell *matHeaderCellDef>Sigla</th>
                <td mat-cell *matCellDef="let paralelo" [ngStyle] = "{'backgroundColor': materiaTieneChoque(paralelo) ? 'pink' : paralelo.disponibles ==0 ? '#FBA744' : 'white'}">{{paralelo.sigla}}</td>
              </ng-container>
              <ng-container  matColumnDef="materia">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let paralelo" [ngStyle] = "{'backgroundColor': materiaTieneChoque(paralelo) ? 'pink' : paralelo.disponibles ==0 ? '#FBA744' : 'white'}">{{paralelo.materia}}</td>
              </ng-container>
              <!-- Position Column -->
              <ng-container  matColumnDef="paralelo">
                <th mat-header-cell *matHeaderCellDef>Paralelo</th>
                <td mat-cell *matCellDef="let paralelo" [ngStyle]="{'backgroundColor': materiaTieneChoque(paralelo) ? 'pink' : paralelo.disponibles ==0 ? '#FBA744' : 'white'}">{{paralelo.paralelo}}</td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="cupos">
                <th mat-header-cell *matHeaderCellDef>Cupos</th>
                <td mat-cell [ngStyle] = "{'backgroundColor': materiaTieneChoque(paralelo) ? 'pink' : paralelo.disponibles ==0 ? '#FBA744' : 'white'}" *matCellDef="let paralelo">{{paralelo.disponibles}}</td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="horarios">
                <th mat-header-cell *matHeaderCellDef>Horario</th>
                <td mat-cell [ngStyle] = "{'backgroundColor': materiaTieneChoque(paralelo) ? 'pink' : paralelo.disponibles ==0 ? '#FBA744' : 'white'}" *matCellDef="let paralelo">{{paralelo.horario}}</td>
              </ng-container>
              <ng-container matColumnDef="button">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell [ngStyle] = "{'backgroundColor': materiaTieneChoque(paralelo) ? 'pink' : paralelo.disponibles ==0 ? '#FBA744' : 'white'}" *matCellDef="let paralelo">
                  <button [disabled]="materiaEstaAgregadaAlHorario(paralelo) || materiaTieneChoque(paralelo)"  *ngIf="!paralelo.selected" (click)="fijarHorario(paralelo,true)" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                  <mat-icon>add</mat-icon>
                  </button>
                  <button *ngIf="paralelo.selected" (click)="borrarHorario(paralelo)" mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
                    <mat-icon>remove</mat-icon>
                  </button>
                </td>

              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                (click)="clickedRows.add(row)"
                [class.demo-row-is-clicked]="clickedRows.has(row)"
                *matRowDef="let row; columns: displayedColumns;"
              ></tr>
            </table>
            <!--<button mat-raised-button class="parelelo" *ngFor="let par of mat.paralelos" (click)="fijarHorario(par, true)" (mouseenter)="onHover(par)" (mouseleave)="stopFunction(par)">
              <span>Paralelo: {{par.paralelo}}</span>
              <span>Cupos: {{par.disponibles}}</span>
              <p>Horario: {{par.horario}}</p>
            </button>-->
          </div>
          <div class="error-paralelo" *ngIf="!mat.paralelos">No existen paralelos para esta materia</div>
        </mat-expansion-panel>
      </mat-accordion>
      <button (click)="openDialog()" class="new-materia" mat-fab extended color="primary">
        <mat-icon>add </mat-icon>
        Agregar Materia
      </button>
      <mat-error *ngIf="errorAgregar"><b> Seleccione primero una carrera</b></mat-error>
    </div>
  </div>
  <div class="inside-flex horario-table">
    <table>
        <thead>
          <tr>
            <th></th>
            <th *ngFor="let day of days">{{ day }}</th>
          </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let timeSlot of timeSlots; let timeSlotIndex = index">
                <tr>
                  <td>{{ timeSlot }}</td>
                  <td *ngFor="let data of userScheduleData[timeSlotIndex]; let dayIndex = index" [ngClass]="{'highlighted': isHighlighted(timeSlotIndex, dayIndex)}">{{data}}</td>
                </tr>
              </ng-container>
        </tbody>
      </table>
    </div>
</div>
