<mat-toolbar class="tool-options">
  <mat-form-field appearance="outline" class="carrera">
    <mat-label>Carrera</mat-label>
    <mat-select [(ngModel)]="carrera"> <!--[formControl]="carrera"-->
      <!--<mat-option>-- None --</mat-option>-->
      <mat-optgroup *ngFor="let group of carrerasPorDepartamento" [label]="group.departamento">
        <mat-option *ngFor="let carrera of group.carreras" [value]="carrera">
          {{carrera.nombre}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <button (click)="actualizarParalelos()" [disabled]="materias.length === 0" class="update" mat-fab extended color="primary">
    <mat-icon>update </mat-icon>
    Actualizar Paralelos
  </button>
  
</mat-toolbar>
<div *ngIf="loaderService.isLoading | async">
  <mat-spinner></mat-spinner>
</div>
<div class="container-paralelos">
  <div class="inside-flex">
    <div class="materias-container">
      <mat-accordion *ngFor="let mat of materias">
        <mat-expansion-panel class="paraleloContainer" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{mat.sigla}}
            </mat-panel-title>
            <mat-panel-description>
              {{mat.asignatura}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngIf="mat.paralelos">
            <button mat-raised-button class="parelelo" *ngFor="let par of mat.paralelos" (click)="fijarHorario(par, true)" (mouseenter)="onHover(par)" (mouseleave)="stopFunction(par)">
              <span>Paralelo: {{par.paralelo}}</span>
              <span>Cupos: {{par.disponibles}}</span>
              <p>Horario: {{par.horario}}</p>
            </button>
          </div>
          <div class="error-paralelo" *ngIf="!mat.paralelos">No existen paralelos para esta materia</div>
        </mat-expansion-panel>
      </mat-accordion>
      <button (click)="openDialog()" class="new-materia" mat-fab extended color="primary">
        <mat-icon>add </mat-icon>
        Agregar Materia
      </button>
    </div>
  </div>
  <div class="inside-flex">
    <table>
        <thead>
          <tr>
            <th></th>
            <th *ngFor="let day of days">{{ day }}</th>
          </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let timeSlot of timeSlots; let timeSlotIndex = index">
                <tr>
                  <td>{{ timeSlot }}</td>
                  <td *ngFor="let data of userScheduleData[timeSlotIndex]; let dayIndex = index" [ngClass]="{'highlighted': isHighlighted(timeSlotIndex, dayIndex)}">{{data}}</td>
                </tr>
              </ng-container>
        </tbody>
      </table>
    </div>
</div>